<% if request.query_parameters[:to].nil? %>
  <%= field_set_tag l('seven.labels.filters.header') do %>
    <label for='filter_groups'><%= l('seven.labels.filters.groups') %></label>
    <select id='filter_groups' name='filter_groups'>
      <option value=''><%= l('seven.labels.groups_all') %> (<%= @groups_counts[:_total] %>)</option>

      <% @groups.each do |group| %>
        <option
          <% if params[:filter_groups] == group.id %>
          selected
          <% end %>
          value='<%= group.id %>'>
          <%= group.lastname %> (<%= @groups_counts[group.id] %>)
        </option>
      <% end %>
    </select>

    <label for='filter_table'><%= l('seven.labels.filters.table') %></label>
    <select id='filter_table' name='filter_table' required>
      <% @tables.each do |table| %>
        <option
          <% if params[:filter_table] == table %>
          selected
          <% end %>
          value='<%= table %>'>
          <%= table %>
        </option>
      <% end %>
    </select>

    <label>
      <%= l('seven.labels.filters.admin') %>
      <%= check_box_tag('filter_admin', 1, params[:filter_admin]) %>
    </label>
  <% end %>
  <hr>
<% end %>