<h1><%= l('sms77.sms') %> - sms77.io</h1>

<%= render :partial => 'sms77/response' %>

<%= form_tag({}, :method => 'post', :id => 'sms77_compose') do %>
  <%= render :partial => 'sms77/filters' %>

  <%= render :partial => 'sms77/to' %>

  <%= label_tag 'ttl', l('sms77.labels.ttl') %>
  <%= text_field_tag 'ttl', params[:ttl], :style => 'width: 100%', :type => 'number' %>
  <hr>

  <%= label_tag 'delay', l('sms77.labels.delay') %>
  <%= text_field_tag 'delay', params[:delay], :style => 'width: 100%' %>
  <hr>

  <%= label_tag 'label', l('sms77.labels.label') %>
  <%= text_field_tag 'label', params[:label], :maxlength => 100, :style => 'width: 100%' %>
  <hr>

  <%= label_tag 'foreign_id', l('sms77.labels.foreign_id') %>
  <%= text_field_tag 'foreign_id', params[:foreign_id], :maxlength => 64, :style => 'width: 100%' %>
  <hr>

  <%= label_tag 'from', l('sms77.labels.from') %>
  <%= text_field_tag 'from', params[:from] || @settings.value['sms_from'], :maxlength => 16, :style => 'width: 100%' %>
  <hr>

  <%= label_tag 'flash', l('sms77.labels.flash') %>
  <%= check_box_tag('flash', 1, params[:flash]) %>

  <%= label_tag 'no_reload', l('sms77.labels.no_reload') %>
  <%= check_box_tag('no_reload', 1, params[:no_reload]) %>

  <%= label_tag 'performance_tracking', l('sms77.labels.performance_tracking') %>
  <%= check_box_tag('performance_tracking', 1, params[:performance_tracking]) %>

  <%= label_tag 'debug', l('sms77.labels.debug') %>
  <%= check_box_tag('debug', 1, params[:debug]) %>

  <hr>

  <%= render :partial => 'sms77/text', :locals => { :maxlength => 1520 } %>

  <%= submit_tag l(:button_submit) %>
<% end %>

<%= render :partial => 'sms77/js' %>