<%= field_set_tag l('seven.settings.general') do %>
  <p>
    <%= label_tag 'settings[apiKey]', l('seven.labels.api_key') %>
    <%= text_field_tag 'settings[apiKey]', settings['apiKey'], :maxlength => 90, :style => 'width: 100%' %>
    <em class='info'><%= l('seven.helpers.api_key') %> @ <a href='https://www.seven.io'>seven</a></em>
  </p>
<% end %>

<%= field_set_tag l('seven.sms') do %>
  <p>
    <%= label_tag 'settings[sms_from]', l('seven.labels.from') %>
    <%= text_field_tag 'settings[sms_from]', settings['sms_from'], :maxlength => 16, :style => 'width: 100%' %>
    <em class='info'><%= l('seven.helpers.from.sms') %></em>
  </p>
<% end %>

<%= field_set_tag l('seven.voice') do %>
  <p>
    <%= label_tag 'settings[voice_from]', l('seven.labels.from') %>
    <%= text_field_tag 'settings[voice_from]', settings['voice_from'], :style => 'width: 100%' %>
    <em class='info'><%= l('seven.helpers.from.voice') %></em>
  </p>
<% end %>

<%= field_set_tag l('seven.settings.issues.label') do %>
  <p>
    <label for='settings_issue_priority'><%= l(:field_priority) %></label>
    <%= select_tag('settings[issue_priority]',
                     options_from_collection_for_select(IssuePriority.active, :id, :name, settings['issue_priority']),
                     {:multiple => true}
        ) %>
    <em class='info'><%= l('seven.settings.issues.priority.help') %></em>
  </p>

  <p>
    <label for='seven_issue_recipient_choice'><%= l('seven.labels.to') %></label>
    <input
      id='seven_issue_recipient_choice'
      list='seven_issue_recipient'
      name='settings[issue_to]'
      value='<%= settings['issue_to'] %>'
    />

    <datalist id='seven_issue_recipient'>
      <option value='assignee'><%= l('seven.settings.issues.to.assignee') %></option>
    </datalist>
    <em class='info'><%= l('seven.settings.issues.to.help') %></em>

    <%= label_tag 'settings_issue_text', l('seven.labels.text') %>
    <%= text_area_tag 'settings[issue_text]', settings['issue_text'], :maxlength => 1520, :rows => 5 %>
  </p>
<% end %>