<%= field_set_tag l('sms77.settings.general') do %>
  <p>
    <%= label_tag 'settings[apiKey]', l('sms77.labels.api_key') %>
    <%= text_field_tag 'settings[apiKey]', settings['apiKey'], :maxlength => 90, :style => 'width: 100%' %>
    <em class='info'><%= l('sms77.helpers.api_key') %> @ <a href='https://www.sms77.io'>sms77</a></em>
  </p>
<% end %>

<%= field_set_tag l('sms77.sms') do %>
  <p>
    <%= label_tag 'settings[sms_from]', l('sms77.labels.from') %>
    <%= text_field_tag 'settings[sms_from]', settings['sms_from'], :maxlength => 16, :style => 'width: 100%' %>
    <em class='info'><%= l('sms77.helpers.from.sms') %></em>
  </p>
<% end %>

<%= field_set_tag l('sms77.voice') do %>
  <p>
    <%= label_tag 'settings[voice_from]', l('sms77.labels.from') %>
    <%= text_field_tag 'settings[voice_from]', settings['voice_from'], :style => 'width: 100%' %>
    <em class='info'><%= l('sms77.helpers.from.voice') %></em>
  </p>
<% end %>